@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

/* Custom Scrollbar for Dark Mode */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.dark ::-webkit-scrollbar-track {
  background: #1f2937; 
}
.dark ::-webkit-scrollbar-thumb {
  background: #4b5563; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}